
@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>
<hr />
            @ViewData["regnr"]<br />
            @ViewData["vehicleType"]<br />
            @ViewData["nrOfWheels"]<br />
            @ViewData["color"]<br />
            @ViewData["brand"]<br />
            @ViewData["model"]<br />
            @ViewData["timeOfArrival"]<br />
<hr />
<a href="/">tillbaks</a>

