@model Garage_2.ViewModels.ReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Checkout</h1>

<h3>Would you like a receipt?</h3>

<a href="javascript:window.print()" id="btn1" class="btn btn-success">Print</a>

<div>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfArrival)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfArrival)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeOfDeparture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeOfDeparture)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalParkingTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalParkingTime)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Leave" class="btn btn-danger float-md-left" />
    </form>

    <form asp-action="Index">
        <input type="submit" value="Back" class="btn btn-primary float-md-right" />
    </form>
</div>
