
@{
    ViewData["Title"] = "Receipt";
}

<h1>Receipt</h1>
<hr />
<table>
    <tr>
        <td><strong>Reg number:</strong></td>
        <td>@ViewData["regnr"]</td>
    </tr>
    <tr>
        <td><strong>Vehicle Type:</strong></td>
        <td>@ViewData["vehicleType"]</td>
    </tr>
    <tr>
        <td><strong>Nr of wheels:</strong></td>
        <td>@ViewData["nrOfWheels"]</td>
    </tr>
    <tr>
        <td><strong>Color:</strong></td>
        <td>@ViewData["color"]</td>
    </tr>
    <tr>
        <td><strong>Brand:</strong></td>
        <td>@ViewData["brand"]</td>
    </tr>
    <tr>
        <td><strong>Model:</strong></td>
        <td>@ViewData["model"]</td>
    </tr>
    <tr>
        <td><strong>Time of arrival:</strong></td>
        <td>@ViewData["timeOfArrival"]</td>
    </tr>
    <tr>
        <td><strong>Time in garage:</strong></td>
        <td>@ViewData["timeInGarage"]</td>
    </tr>
    <tr>
        <td colspan="2"><hr /></td>
    </tr>
    <tr>
        <td><strong>Cost:</strong></td>@*todo: gör en bättre kostnadslösning sen*@
        <td><em>@ViewData["cost"] SEK</em></td>
    </tr>
</table>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>
